.output * {
    box-sizing: border-box;
}
.output ul {
    padding-left: 0;
}

.output li {
    display: block;
    float: left;
    width: 25%;
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    height: 40px;
    background-color: #e0218a;
    color: #fff;
    
}

html{
    font-family: sans-serif;
}

body{
    margin: 10px;
    background: #f5f9fa;
}